.Fundin{

    background-color: #6495ED

}
.DivTextoInicial{

    /*background-color: springgreen;*/
    padding-left: 40%;
    padding-right: 40%;
    border-radius: 100%;


}
.TextoInicial{

    text-align: center;
    color: white;
    font-size: 75px;
    background-color:#98FB98
    ;
    border-radius: 12.5%;

}